body{
	background-image: url('image/banner2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
.main-content-area{
	padding-top: 20px;
	padding-bottom: 20px; 
}
.logo{
	background-color: black;
	border-radius: 5px;
	box-shadow: 0px 0px 5px whitesmoke;
	color: floralwhite;
	font-family:cursive;
	padding: 5px;
	margin:0px 4px 0px 2px ;

}

.top-banner{background:linear-gradient(to top, dimgrey,black);font-family: lucida ;opacity:0.9;}
.top-banner .logo-section a{text-decoration: none;color: white;}
/*adm responsibilty*/
.inner-adm-role{
	font-family: cursive;
	color: ghostwhite;
	text-align: justify;
}
/*end*/
/*footer section*/
.copy-right-grids {
	padding: 20px 20px;
    background: #211E1E;
}
.copy-left{
	float:left;
}
.copy-right{
	float:right;
}
.copy-right ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0 0px;
    border-left: 1px solid #444343;
    padding: 0 12px;
}
.copy-right ul li a {
    color: #908F8F;
	font-size:13px;
}
.footer-bar{
	opacity: 0.9;
}





/*feedback Section*/

.table-content{
	margin-left:20px;
	margin-top:20px;
	background-color: white;
	opacity: 0.9;
	width: auto;
	height: auto;
	border-radius: 10px;
	box-shadow:0px 0px 10px whitesmoke;
}
thead{
	background:linear-gradient(to top,dimgrey ,black );
	color: ghostwhite; 
}
.all-table th,td{
	text-align:center;
}
.all-text{
	color: white;
	font-size: 20px;
	font-family:cursive;
}
